/* Touchbar */
div.touchbar {
	align-items: center;
	background-color: #111;
	border-radius: 5px;
	box-shadow: 0px 0px 20px 0px rgba(17,17,17,0.6);
	color: #fff;
	display: flex;
	flex-flow: row nowrap;
	height: 50px;
	justify-content: flex-start;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -15px;
	padding-left: 20px;
	padding-right: 20px;
}

div.touchbar > * {
    display: inline-block;
    vertical-align: middle;
}

div.touchbar .touchbar-widget {
	align-items: center;
	background-color: #373737;
	border-radius: 5px;
	color: #e7ebfd;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	height: 30px;
	justify-content: center;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	cursor: pointer;
}

/* Touchbar Left */
div.touchbar .touchbar-widget.esc {
	margin-right: 20px;
}

/* Touchbar Middle */
div.touchbar .touchbar-middle {
    margin-right: 20px;
	-ms-overflow-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
	white-space: nowrap;
	width: auto;
}

div.touchbar .touchbar-middle::-webkit-scrollbar {
	display: none;
}

div.touchbar .touchbar-widget.crypto {
    padding: 0 10px;
    width: auto;
    margin-left: 5px;
}

/* Touchbar Right */
div.touchbar .touchbar-right {
    margin-left: auto;
    position: relative;
}

div.touchbar .touchbar-right .icon {
    display: block;
    height: 100%;
    width: 100%;
}

div.touchbar .touchbar-right .siri {
	background: url('../img/siri.png') no-repeat center;
	background-size: contain;
}

/* Crypto Widget */

svg.touchbar-crypto-icon {
    display: inline-block;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    height: 22px;
    width: 22px
}

#coins {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#coins > div {
    display: inline-block;
    padding: 0 10px;
    width: auto;
    min-width: 250px;
    vertical-align: middle;
    line-height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#coins > div > input {
    margin-right: 10px;
}

#coins > div > img {
    vertical-align: middle;
}

#coins > div > label {
    margin-left: 10px;
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    background: #373737;
    padding: 10px;	
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.jscolor {
    margin-left: 10px; 
    border-radius: 5px;
}
